* {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    background: rgb(9, 156, 112);
}

form {
    width: 80%;
    margin: 25px auto;
    background-color: rgb(216, 205, 205);
}

table {
    margin: 30px auto;
    border-collapse: collapse;
}

.addInformationTable th{
    
    padding: 0px 10px;
}


#addInfoSubmit {
    text-align: center;
    padding-top: 15px ;
    padding-right: 35px; 
    font-size: bold;   
}
#submit {
    padding: 8px;
    font-size: larger;
    color: blue;
}


.ShowInformation {
    width: 70%;
    margin: 10px auto;
}

.InformationTable th {
    padding: 10px 35px;
    /*border: 1px solid rgb(68, 0, 77);*/
    color: rgb(253, 249, 249);
    font-size: larger;

}

.addInformationUser {
    color: white;
    margin: 20px auto;
    font-size: large;
}
/* .InformationTable td {
    padding: 10px 35px;
    /*border: 1px solid rgb(68, 0, 77);/***
    color: rgb(253, 249, 249);
    font-size: larger;
} */